.card {
    position: relative;
    display: flex;
    width: 750px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 1.35rem;
    margin-left: 150px;
    
}

.col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    margin-left: 150px;
}
